@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 123;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 110, 120, 120;
	}
}

.button:active {
	transform: translateY(1px);
}

.input:hover {
	border: 1px solid #b6e8ff;
	box-shadow: 1px 0px 3px #b6e8ff;
}

.input:focus {
	border: 1px solid #82d4fa;
	box-shadow: 1px 0px 3px #82d4fa;
}
