@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 123;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 110, 120, 120;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}




.chat-container{
    height: 600px;
    width: 400px;
    overflow-y: scroll;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.message-container{  
    border: 1px solid black;
}
.message-text{
    word-wrap: break-word;
    display: block;
    border: 1px solid black;

}
.chat-input-container{
    margin: 20px 15px 15px 15px;
    display: flex;
    flex-direction: row;
    height: 50px;

}
.chat-input-text{
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    border:1px solid black;
    border-radius: 50px;
}
.chat-input-button{
    height: 40px;
    align-self: center;
    border-radius: 20px;
    background-color: DodgerBlue;
    color: white;
    border:none;
    padding: 5px 15px;
    font-size: 16px;
}
